p {
    font-size: 0.75rem !important;
}

h1 span {
    font-size: 2.75rem;
}

section > h2 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 40px;
}

#urban h2 {
    margin-bottom: 20px;
}

#urban1 p {
    font-size: 0.75rem;
    clear: both;
}

#urban1 img {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    clear: both;
}

#ungoal h2 {
    font-size: 1.5rem;
}

#ungoal img{
    clear: both;
    width: auto;
}

#solution {
    max-width: 95%;
}

#solution p {
    clear: both;
}

#solution img {
    width: 80%;
    height: 70%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    clear: both;
}

#home .h1 {
    flex-wrap: wrap;
}


#ungoal
.fixed-top {
    flex-direction: column;
}

.fixed-top nav {
    padding: 15px 0px;
}

.fixed-top nav a {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.75rem;
}

nav {
    font-size: 0.5rem;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    display: block;
    text-align: center;
    padding: 80px 60px;
}


#urban1 .h2 {
    padding: 0 .5rem;
}

